[nix]
channel = "stable-24_05"

[workflows]
runButton = "Debug Pose"

[[workflows.workflow]]
name = "Debug Pose"
author = 40878544
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python debug_pose.py"
